In [1]:
! pip install pyspark

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pyspark
  Downloading pyspark-3.4.0.tar.gz (310.8 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.8/310.8 MB 4.5 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.4.0-py2.py3-none-any.whl size=311317130 sha256=66f04a5329e047f17dacb8086e73d75cdc7a05815e8b5b3f46358092ab388ee1
  Stored in directory: /root/.cache/pip/wheels/7b/1b/4b/3363a1d04368e7ff0d408e57ff57966fcdf00583774e761327
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.4.0

In [18]:
from pyspark import SparkContext, SparkConf

In [100]:
from pyspark.sql import SparkSession
from pyspark.ml.clustering import KMeans, BisectingKMeans
from pyspark.ml.feature import VectorAssembler, StandardScaler
from pyspark.ml.evaluation import ClusteringEvaluator

In [3]:
appName="lab13"
master="local[*]"

In [4]:
conf = SparkConf().setAppName(appName).setMaster(master)
sc = SparkContext(conf=conf)

In [20]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.master(master) \
                    .appName(appName) \
                    .getOrCreate()

In [21]:
df = spark.read.csv("Movies.csv")
# Displays the content of the DataFrame to stdout
df.show()

+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
| _c0|   _c1|                 _c2|    _c3|                 _c4|              _c5|                 _c6|       _c7|   _c8|                _c9|
+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
|Year|Length|               Title|  Genre|               Actor|          Actress|            Director|Popularity|Awards|              Image|
|1990|   111|Tie Me Up! Tie Me...| Comedy|     BanderasAntonio|    AbrilVictoria|      AlmodóvarPedro|        68|    No|   NicholasCage.png|
|1991|   113|          High Heels| Comedy|          BoséMiguel|    AbrilVictoria|      AlmodóvarPedro|        68|    No|   NicholasCage.png|
|1983|   104|        Dead ZoneThe| Horror|   WalkenChristopher|      AdamsBrooke|     CronenbergDavid|        79|    No|   NicholasCage.png|
|1979|   122|                Cuba| Action|         ConnerySean|      AdamsBrooke|       LesterRichard|         6|    No|    seanConnery.png|
|1978|    94|      Days of Heaven|  Drama|         GereRichard|      AdamsBrooke|      MalickTerrence|        14|    No|   NicholasCage.png|
|1983|   140|           Octopussy| Action|          MooreRoger|        AdamsMaud|            GlenJohn|        68|    No|   NicholasCage.png|
|1984|   101|        Target Eagle| Action|        ConnorsChuck|        AdamsMaud|LomaJosé Antonio ...|        14|    No|   NicholasCage.png|
|1989|    99|American Angels: ...|  Drama|     BergenRobert D.|       AdamsTrudy|    SebastianBeverly|        28|    No|   NicholasCage.png|
|1985|   104|              Subway|  Drama|  LambertChristopher|   AdjaniIsabelle|           BessonLuc|         6|    No|   NicholasCage.png|
|1990|   149|     Camille Claudel|  Drama|     DepardieuGérard|   AdjaniIsabelle|        NuyttenBruno|        32|    No|   NicholasCage.png|
|1982|   188| Fanny and Alexander|  Drama|       AhlstedtBörje|AdolphsonKristina|       BergmanIngmar|        81|   Yes|        Bergman.png|
|1982|   117|Tragedy of a Ridi...|  Drama|         TognazziUgo|       AimeeAnouk|  BertolucciBernardo|        17|    No|   NicholasCage.png|
|1966|   103|     A Man & a Woman|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|        46|   Yes|   NicholasCage.png|
|1986|   112|A Man & a Woman: ...|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|        49|    No|   NicholasCage.png|
|1966|   103|Un Hombre y una M...|  Drama|TrintignantJean-L...|       AimeeAnouk|       LelouchClaude|         6|   Yes|   NicholasCage.png|
|1985|   112|   Official StoryThe|  Drama|       AlterioHector|    AleandroNorma|          PuenzoLuiz|        39|   Yes|   NicholasCage.png|
|1976|   150|Lindbergh Kidnapp...|  Drama|      HopkinsAnthony|  AlexanderDenise|           KulikBuzz|        51|    No| AnthonyHopkins.png|
|1929|    84|           Blackmail|Mystery|         LongdenJohn|       AlgoodSara|     HitchcockAlfred|         2|    No|alfredHitchcock.png|
|1963|   109|      Donovan's Reef| Comedy|           WayneJohn|   AllenElizabeth|            FordJohn|        62|    No|      johnWayne.png|
+----+------+--------------------+-------+--------------------+-----------------+--------------------+----------+------+-------------------+
only showing top 20 rows

Task 1

In [43]:
  T1=df.filter((df ['_c8'] == 'Yes') & (df ['_c3'] == 'Action'))
  T1.select('_c0','_c2','_c6').show()

+---+---+---+
|_c0|_c2|_c6|
+---+---+---+
+---+---+---+

Task 2

In [55]:
T2=df.filter(df ['_c8'] == 'Yes')
T2.select('_c2','_c6').show()

+--------------------+-------------------+
|                 _c2|                _c6|
+--------------------+-------------------+
| Fanny and Alexander|      BergmanIngmar|
|     A Man & a Woman|      LelouchClaude|
|Un Hombre y una M...|      LelouchClaude|
|   Official StoryThe|         PuenzoLuiz|
|   Wild Strawberries|      BergmanIngmar|
|Through a Glass D...|      BergmanIngmar|
|    Cries & Whispers|      BergmanIngmar|
|   Sound of MusicThe|         WiseRobert|
|     Babette's Feast|        AxelGabriel|
|Murder on the Ori...|        LumetSidney|
|     Elephant ManThe|         LynchDavid|
|E. T. The Extra-T...|    SpielbergSteven|
|              Misery|          ReinerRob|
|              Gandhi|AttenboroughRichard|
|       Autumn Sonata|      BergmanIngmar|
|            Gaslight|        CukorGeorge|
|A Woman Called Golda|         GibsonAlan|
|           Anastasia|      LitvakAnatole|
|       Cactus Flower|           SaksGene|
|             Amadeus|        FormanMilos|
+--------------------+-------------------+
only showing top 20 rows

Task 3

In [82]:
T3=df.filter((df ['_c8'] == 'No') & ((df ['_c7'] <= 10)))
T3.select('_c2').show(10)

+--------------------+
|                 _c2|
+--------------------+
|                Cuba|
|              Subway|
|           Blackmail|
|Raiders of the Lo...|
|              Dr. No|
|              Hawaii|
|               Tommy|
|        Alan & Naomi|
|         Big BlueThe|
|         Thunderball|
+--------------------+
only showing top 10 rows

Task 4

In [65]:
T4=df.filter((df ['_c0'] < 1980) & ((df ['_c7'] >= 78)))
T4.select('_c2').tail(10)

[Row(_c2='D-DayThe Sixth of June'),
 Row(_c2='A Clockwork Orange'),
 Row(_c2='Sanshiro Sugata'),
 Row(_c2='Jeremiah Johnson'),
 Row(_c2='Overland Stage Raiders'),
 Row(_c2='Crawling HandThe'),
 Row(_c2='Joe Kidd'),
 Row(_c2='Check Your Guns'),
 Row(_c2='Nineteen Hundred'),
 Row(_c2='Goon Show MovieThe')]

Task 5

In [80]:
T5=df.filter(df ['_c0'] < 1990)
T5.sort('_c2').show()

+----+----+--------------------+---------------+--------------------+-----------------+-------------------+---+---+-------------------+
| _c0| _c1|                 _c2|            _c3|                 _c4|              _c5|                _c6|_c7|_c8|                _c9|
+----+----+--------------------+---------------+--------------------+-----------------+-------------------+---+---+-------------------+
|1968| 139|2001: A Space Ody...|Science Fiction|          DulleaKeir|   TyzackMargaret|     KubrickStanley| 83| No|   NicholasCage.png|
|1982|  92|             48 Hrs.|         Action|           NolteNick|   O'TooleAnnette|         HillWalter| 67| No|   NicholasCage.png|
|1963| 138|               8 1/2|          Drama| MastroianniMarcello| CardinaleClaudia|    FelliniFederico| 80|Yes|   NicholasCage.png|
|1966|  95|A Big Hand for th...|         Comedy|          FondaHenry|   WoodwardJoanne|        CookFielder| 12| No|   NicholasCage.png|
|1962| 105|  A Child Is Waiting|          Drama|       LancasterBurt|      GarlandJudy|     CassavetesJohn| 60| No|  burtLancaster.png|
|1985| 118|A Chorus LineThe ...|          Music|      DouglasMichael|    LandersAudrey|AttenboroughRichard| 71| No|   NicholasCage.png|
|1971| 138|  A Clockwork Orange|Science Fiction|     McDowellMalcolm|             null|     KubrickStanley| 83|Yes|   NicholasCage.png|
|1967| 100|A Coeur Joie(Head...|         Action|     TerzieffLaurent|   BardotBrigitte|   BourguignonSerge| 54| No| brigitteBardot.png|
|1988| 122|   A Cry in the Dark|          Drama|            NeillSam|      StreepMeryl|       SchepisiFred| 67| No|    merylStreep.png|
|1989|  97|  A Dry White Season|          Drama|    SutherlandDonald|    SarandonSusan|        PalcyEuzhan| 71| No|   NicholasCage.png|
|1966| 104|      A Fine Madness|         Comedy|         ConnerySean|   WoodwardJoanne|      KershnerIrvin|  6| No|    seanConnery.png|
|1988| 108| A Fish Called Wanda|         Comedy|          CleeseJohn|  CurtisJamie Lee|    CrichtonCharles|  7|Yes|   NicholasCage.png|
|1964| 102|A Fistful of Dollars|       Westerns|       EastwoodClint|VolonteGian Maria|        LeoneSergio| 61| No|  clintEastwood.png|
|1943|null|     A Guy Named Joe|          Drama|        TracySpencer|       DunneIrene|      FlemingVictor| 42| No|   spencerTracy.png|
|1954|  96|    A Lesson in Love|         Comedy|   BjörnstrandGunnar|      DahlbeckEva|      BergmanIngmar| 48| No|        Bergman.png|
|1977| 110|A Little Night Music|          Music|           CariouLen|  TaylorElizabeth|       PrinceHarold| 61| No|elizabethTaylor.png|
|1966| 103|     A Man & a Woman|          Drama|TrintignantJean-L...|       AimeeAnouk|      LelouchClaude| 46|Yes|   NicholasCage.png|
|1986| 112|A Man & a Woman: ...|          Drama|TrintignantJean-L...|       AimeeAnouk|      LelouchClaude| 49| No|   NicholasCage.png|
|1966| 120|A Man for All Sea...|          Drama|          ShawRobert|      HillerWendy|      ZinnemannFred| 20|Yes|   NicholasCage.png|
|1976|  97|    A Matter of Time|          Drama|        BoyerCharles|     MinnelliLiza|   MinnelliVincente| 70| No|   NicholasCage.png|
+----+----+--------------------+---------------+--------------------+-----------------+-------------------+---+---+-------------------+
only showing top 20 rows

Task 6

In [96]:
df2= spark.read.csv("wine.csv")
df2.show(5)
df2.printSchema()
df2.describe().show()
df2 = df2.na.drop()

+-------+----------+----+------------+---------+-------------+----------+--------------------+---------------+---------------+----+-----+-------+
|    _c0|       _c1| _c2|         _c3|      _c4|          _c5|       _c6|                 _c7|            _c8|            _c9|_c10| _c11|   _c12|
+-------+----------+----+------------+---------+-------------+----------+--------------------+---------------+---------------+----+-----+-------+
|Alcohol|Malic_Acid| Ash|Ash_Alcanity|Magnesium|Total_Phenols|Flavanoids|Nonflavanoid_Phenols|Proanthocyanins|Color_Intensity| Hue|OD280|Proline|
|  14.23|      1.71|2.43|        15.6|      127|          2.8|      3.06|                0.28|           2.29|           5.64|1.04| 3.92|   1065|
|   13.2|      1.78|2.14|        11.2|      100|         2.65|      2.76|                0.26|           1.28|           4.38|1.05|  3.4|   1050|
|  13.16|      2.36|2.67|        18.6|      101|          2.8|      3.24|                 0.3|           2.81|           5.68|1.03| 3.17|   1185|
|  14.37|      1.95| 2.5|        16.8|      113|         3.85|      3.49|                0.24|           2.18|            7.8|0.86| 3.45|   1480|
+-------+----------+----+------------+---------+-------------+----------+--------------------+---------------+---------------+----+-----+-------+
only showing top 5 rows

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)
 |-- _c6: string (nullable = true)
 |-- _c7: string (nullable = true)
 |-- _c8: string (nullable = true)
 |-- _c9: string (nullable = true)
 |-- _c10: string (nullable = true)
 |-- _c11: string (nullable = true)
 |-- _c12: string (nullable = true)

+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+------------------+-----------------+-------------------+------------------+-----------------+
|summary|               _c0|               _c1|               _c2|              _c3|               _c4|               _c5|               _c6|                 _c7|               _c8|              _c9|               _c10|              _c11|             _c12|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+------------------+-----------------+-------------------+------------------+-----------------+
|  count|               179|               179|               179|              179|               179|               179|               179|                 179|               179|              179|                179|               179|              179|
|   mean|13.000617977528083| 2.336348314606741|2.3665168539325854|19.49494382022472| 99.74157303370787| 2.295112359550562|2.0292696629213474| 0.36185393258426973|1.5908988764044953|5.058089882022473| 0.9574494382022468|2.6116853932584254|746.8932584269663|
| stddev| 0.811826538005858|1.1171460976144625|0.2743440090608148|3.339563767173504|14.282483515295652|0.6258510488339892|0.9988586850169471| 0.12445334029667941|0.5723588626747612|2.318285871822413|0.22857156582982324|0.7099904287650503|314.9074742768492|
|    min|             11.03|              0.74|              1.36|             10.6|               100|              0.98|              0.34|                0.13|              0.41|             1.28|               0.48|              1.27|             1015|
|    max|           Alcohol|        Malic_Acid|               Ash|     Ash_Alcanity|         Magnesium|     Total_Phenols|        Flavanoids|Nonflavanoid_Phenols|   Proanthocyanins|  Color_Intensity|                Hue|             OD280|          Proline|
+-------+------------------+------------------+------------------+-----------------+------------------+------------------+------------------+--------------------+------------------+-----------------+-------------------+------------------+-----------------+